.textArea{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: var(--themeBgColor);
  color: var(--themeTextColor);
  margin: 10px 0;
  border-radius: 6px;
  outline: none;
  border: 2px solid #423f3f;
}
.textAreaContainer{
  position: relative;
}
.sdxContainer{
  padding: 20px;
}
.sdxViewDemoBtn {
  width: 100%;
}

.popoverContainer{
  width: 300px;
  max-height: 80vh;

  color: rgb(251, 251, 253) !important;
  border-radius: 10px !important;
  background: rgb(0, 0, 0) !important;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 15px 0px;
  border: 1px solid rgb(49, 49, 49);
  padding: 24px 16px 16px;
}

.popoverHeader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.closePopoverIcon{
  cursor: pointer;
}

.createBtnContainer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.createBtn{
}

.translateBtn{
  &:hover{
    background: rgb(56, 47, 47) !important;
  }
}
