@leftSideContainerWidth: 300px;
@rightSideContainerWidth:300px;
@pageHeaderHeight: 50px;
@containerBoxShadow: 0 0 5px #644848, 0 0 2px transparent;

.bodyContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.leftSideContainer{
  width: @leftSideContainerWidth;
  min-width: @leftSideContainerWidth;
  box-shadow: @containerBoxShadow;
  border-radius: 0 10px 10px 0;
}
.contentContainer{
  flex: 1;
  height: calc(100vh - @pageHeaderHeight);
  width: calc(100% - @leftSideContainerWidth - @rightSideContainerWidth);
  overflow: auto;

  text-align: center;

}

.rightSideContainer{
  width: @rightSideContainerWidth;
  min-width: @rightSideContainerWidth;
  box-shadow: @containerBoxShadow;
  height: calc(100vh - @pageHeaderHeight);
  border-radius: 10px 0 0 10px;
  overflow: auto;
}

@rightSideImgMargin: 10px;
.rightSideImg{
  width: calc(100% - 2*@rightSideImgMargin);
  margin: @rightSideImgMargin;
  object-fit: cover;
  border-radius: @rightSideImgMargin;
}
.headerContainer{
  height: @pageHeaderHeight;
  box-shadow: @containerBoxShadow;
}

